@using System.Linq;
@using System.Collections.Specialized;
@using HandIn2_FoodProcessor.Models;

@model List<Posts>

@{
    ViewBag.Title = "Happy little place";
}

@section scripts{ <script src="~/Scripts/angular.js"> </script>}

<h2>@ViewBag.Title.</h2>

<div ng-controller="Home">
    <div class="col-sm-6">
        @foreach(var item in Model)
        {
            <p>@item.GramProtein @item.PostDate</p>
            <p>@(item.GramProtein + item.Consumable.ProteinPer100Gram)</p>
        }
    </div>
    <div class="col-sm-6">

        <div class="col-sm-12" ng-app="" ng-model="product">

            <input type="number" ng-model="input" min="0" max="99" required />

            {{input}}

            </div>

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="UserConditions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Normal
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="UserConditions">
                    <li><a href="?c=1">Normal</a></li>
                    <li><a href="?c=2">Sick</a></li>
                    <li><a href="?c=3">Training</a></li>
                </ul>
            </div>
        </div>
</div>
