@using System.Linq;
@using System.Collections.Specialized;
@using Hand_in1_grp7.Models;

@model ComponentOverview


@{
    ViewBag.Title = "Components";
}
<h2>@ViewBag.Title.</h2>


<div>

    <div class="col-xs-4">
        <a href="~/Category/Index" class="btn btn-default">Changes to category</a>
    </div>
    <div class="col-xs-4">
        <a href="#" class="btn btn-default">Send reminder</a>
    </div>
    <div class="col-xs-4">
        <a href="~/Components/ComponentInformationOptions" class="btn btn-default">Add component</a>
    </div>

    <div class="col-xs-4">
        <h2>Categories</h2>
        <ul class="nav nav-pills nav-stacked">
            @if( Model.Categories.Count > 0)
            {
                foreach (var item in Model.Categories)
                {
                    <li role="presentation"><a href="?category=@item.CategoryId">@item.CategoryName</a></li>
                }
            }
            else
            {
                <p>No categories in database</p>
            }
        </ul>
    </div>

    <div class="col-xs-8">
        <h2>Components</h2>
        <ul class="list-group">
            @if (Model.Components.Count > 0)
            {
                foreach (var item in Model.Components)
                {
                    //replace # with link
                    <div class="col-xs-8">
                        <a href="~/Home/Component?ID=@item.InfoId" class="list-group-item">
                            <h3 class="list-group-item-heading">@item.ComponentName</h3>
                            <p class="list-group-item-text">@item.ComponentInfo</p>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <div class="btn-group-vertical" role="group">
                            <a href="~/Components?ID=@Model.SelectedCategory" class="btn btn-warning" role="button">Edit</a>
                            <a href="~/Home" class="btn btn-danger" role="button">Delete</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No category picked</p>
            }
        </ul>
    </div>
</div>


