@model Hand_in1_grp7.Models.Component

@{
    ViewBag.Title = "EditComponent";
}

<h2>EditComponent</h2>
<h3>Info: @Model.Info</h3>

<form method="post" action="~/Home/Contact">
    <input id="potato" name="Potato" type="text" />
    <input value="Save" type="submit" />
</form>

