@model Activity

@{
    ViewBag.Title = "Opret en ny aktivitet";
}

<h2>Opret en ny aktivitet</h2>
<div>
    @using (Html.BeginForm("Create", "Activity", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Title" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <button type="submit" class="btn btn-default">Opret</button>
    }
</div>
