@using System.Linq;
@using System.Collections.Specialized;
@using Hand_in1_grp7.Models;

@model List<ComponentInformation>

@{
    ViewBag.Title = "CamponentInfoOption";
}

<h4>Add new ComponentClass or add component to existing ComponentClass</h4>
<ul class="list-group">
    <a href="~/ComponentInformations/Create" class="list-group-item">Create new ComponentClass</a>
    @foreach (var item in Model)
    {
        <a href="~/Components/Create?ID=@item.InfoId" class="list-group-item">@item.ComponentName</a>
    }
</ul>