@using RazorLab1.Models
@using System.Linq;
@using System.Collections.Specialized;

@model List<Model>

@{
    ViewBag.Title = "Server Variables";
}

<h2>Variables</h2>
<body>
    <div>
        <table>
            @foreach( var item in Model)
            {
                <tr><td>@item.Name</td><td>@item.Value</td></tr>
            }
        </table>
    </div>
</body>
</html>
